@media screen and (min-width: 1200px){
  .grid_6_lg{
    width: 50%;
  }
  .grid_3_lg{
    width: 25%;
  }
  .grid_9_lg{
    width: 75%;
  }
}
@media screen and (max-width: 1200px){
  .grid_6_lg{
    width: 50%;
  }
  .grid_3_lg{
    width: 25%;
  }
  .grid_9_lg{
    width: 75%;
  }
}
@media screen and (max-width: 992px){
  .grid_6_md{
    width: 50%;
  }
  .grid_3_md{
    width: 25%;
  }
  .grid_9_md{
    width: 75%;
  }
}
@media screen and (max-width: 768px){
  html{
    font-size: 12px;
  }
  .grid_12_sm{
    width: 100%;
  }
  .reg_form,.gallery_items_wrapper,.gallery_inner_wrapper {
    min-height: inherit !important;
  }
  .gallery_wrapper .gallery_items_wrapper{
    @include column_style(3);
  }
}
@media screen and (max-width: 576px){
  html{
    font-size: 10px;
  }
  .grid_12_xs{
    width: 100%;
  }
  .gallery_wrapper .gallery_items_wrapper{
    @include column_style(2);
  }
}